// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@status-bar-height: @component-line-height + 1px;

.spatomify {}

.spatomify.album-art {
  max-width: 5vw;
  height: 100%;
  width: @status-bar-height;
  background-size: 100% !important;
}

.spatomify.album-art.colorize {
  animation: colorizer 20s linear infinite;
}

@-webkit-keyframes colorizer {
  0%, 100%  {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
  }
}
